section.description--section
  .description--heading East Hills Water Aerobics

  .description__container
    .description--left
      img(src='/img/park-photos/Ashlee.jpg' alt='Photo of Ashlee, our Water Aerobics instructor')
    .description--right
      p.product--attribute__text "This class will be a fun and upbeat way to start your day. Twice a week on Tuesdays and Thursdays at 9am come join us for the best aerobics class you’ll take. The workouts will be beginner to intermediate level and require no equipment. Modifications will be adapted as needed. All are welcome to join, come sign up in the first aid office or on the website, can’t wait to see you there!"
      span.instructor--signiature ~ Ashlee Katz (Certified Instructor)