header
  .header-container.sticky
    a.logo(href='/')
      img.logo-img(src='/img/ehp_logo.png' alt='The logo for the East Hills Park')
      span.logo--text East Hills
    nav.main-nav
      ul.main-nav--list
        <ion-icon class="hamburger", name="menu-outline"></ion-icon>
        a.nav__el(href='/') Swim Lessons
        a.nav__el(href='/water-aerobics') Water Aerobics
        a.nav__el(href='/questions') FAQ