section.section--pricing.wa--pricing
  h1.product--info__heading Pricing
  .product--cards__container
    .product--card
      h4.small--heading Single Class
      span.lesson--price $30
      .product--attributes__container
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Access to one full class
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text 50 minutes
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Pay per class
      .btn__container
        button.product--card__btn Sign Up
    .product--card
      .save__badge
        span DEAL
      h4.small--heading Unlimited Bundle
      span.lesson--price $295
      .product--attributes__container
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Access to all 16 classes
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text 50 minute classes
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Pay up front (non-refundable)
      .btn__container
        button.product--card__btn Sign Up