section.section--pricing
  h1.product--info__heading Swim Lessons
  .product--cards__container
    .product--card
      h4.small--heading Single Lesson
      span.lesson--price $50
      .product--attributes__container
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Private lesson
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text 30 minutes
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Pay per lesson
      .btn__container
        button.product--card__btn Sign Up
    .product--card
      .save__badge
        span DEAL
      h4.small--heading Package Bundle
      span.lesson--price $450
      .product--attributes__container
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text 10 private lessons
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text 30 minutes
        .product--attribute
          ion-icon(name='checkmark-outline')
          span.product--attribute__text Pay up front (non-refundable)
      .btn__container
        button.product--card__btn Sign Up
  p.warning--text ***Due to high demand and instructor availability, you may not be guarunteed a spot.