section.schedule--section
  .schedule--heading Class Schedule
  .schedule__container
    ul.schedule__list
      li.schedule__list--item
        p Tuesday, July 12th: 9am-10am
      li.schedule__list--item
        p Thursday, July 14th: 9am-10am
      li.schedule__list--item
        p Tuesday, July 19th: 9am-10am
      li.schedule__list--item
        p Thursday, July 21th: 9am-10am
      li.schedule__list--item
        p Tuesday, July 26th: 9am-10am
      li.schedule__list--item
        p Thursday, July 28th: 9am-10am
      li.schedule__list--item
        p Tuesday, August 2nd: 9am-10am
      li.schedule__list--item
        p Thursday, August 4th: 9am-10am
    ul.schedule__list
      li.schedule__list--item
        p Tuesday, August 9th: 9am-10am
      li.schedule__list--item
        p Thursday, August 11th: 9am-10am
      li.schedule__list--item
        p Tuesday, August 16th: 9am-10am
      li.schedule__list--item
        p Thursday, August 18th: 9am-10am
      li.schedule__list--item
        p Tuesday, August 23rd: 9am-10am
      li.schedule__list--item
        p Thursday, August 25th: 9am-10am
      li.schedule__list--item
        p Tuesday, August 29th: 9am-10am
      li.schedule__list--item
        p Thursday, September 1st: 9am-10am
    