.social-sidebar
  button(title='Reveal Sidebar').reveal-sidebar--btn
    a
      ion-icon(name='arrow-forward-outline')
  .social-sidebar--container
    ul.social-sidebar-list
      li(title='Visit Facebook Page').social-sidebar-icon.social-icon--facebook
        a(target='_blank' href='https://www.facebook.com/lafuerzacdc')
          ion-icon(name='logo-facebook')
      li(title='Visit Instagram Page').social-sidebar-icon.social-icon--instagram
        a(target='_blank' href='https://www.instagram.com/lafuerzacdc/')
          ion-icon(name='logo-instagram')
      li(title='Visit Twitter Page').social-sidebar-icon.social-icon--twitter
        a(target='_blank' href='https://twitter.com/LaFuerzaCDC')
          ion-icon(name='logo-twitter')
      li(title='Close Sidebar').social-sidebar-icon.back-arrow
        a
          ion-icon(name='arrow-back-outline')